
.projetos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--padding-m);
}

.projetos-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--cor-conteiner);
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        z-index: 1;
        transform: translateY(-1%);
    }
}

.projeto-imagem__conteiner {
    background-color: var(--cor-padrao);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: var(--padding-m);
    max-height: 240px;
    overflow: hidden;
}

.projeto-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-radius: 8px;
    box-shadow: 0 24px 16px 0 rgba(0, 0, 0, 0.25);
}

.projeto-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-xl);
    flex-grow: 1;
    padding: var(--padding-xs);
    color: var(--cor-padrao-claro);
}

.projeto-detalhes {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
}

.projeto-titulo {
    font-size: var(--font-size-subtitulo);
    font-weight: 600;
}

.projeto-descricao {
    font-size: var(--font-size-texto);
    font-weight: 400;
}

.projeto-icones {
    display: flex;
    justify-content: space-between;
}

.projeto-metricas {
    display: flex;
    list-style-type: none;
    gap: var(--gap-xs);
}

.metricas-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-xxs);
    align-items: center;

    & img {
        width: 20px;
        height: 20px;
    }
}

.projeto-autor {
    display: flex;
    gap: var(--gap-xxs);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: var(--padding-xxs);
    border-radius: 24px;
    transition: background-color 0.3s ease;

    & img {
        width: 32px;
        height: 32px;
    }

    &:hover {
        background-color: var(--cor-hint);
    }
}

.skeleton-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 486.5px; 
    opacity: 0.5;
    background-color: var(--cor-conteiner);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.skeleton-imagem__conteiner {
    opacity: 0.3;
    display: flex;
    background-color: var(--cor-padrao-claro);
    padding: var(--padding-m);
    height: 240px;
}

.skeleton-imagem {
    width: 100%;
    border-radius: 8px;
    background-color: var(--cor-padrao);
}

.skeleton-conteudo {
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    padding: var(--padding-xs);
}

.skeleton-detalhes {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.skeleton-titulo {
    background-color: var(--cor-padrao);
    height: 2rem;
    width: 60%;
    border-radius: 8px;
}

.skeleton-texto {
    background-color: var(--cor-padrao);
    height: 5rem;
    border-radius: 8px;
}

.skeleton-icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skeleton-metricas {
    display: flex;
    gap: var(--gap-xs);
}

.skeleton-metricas-item {
    background-color: var(--cor-padrao);
    height: 3rem;
    width: 2rem;
    border-radius: 8px;
}

.skeleton-autor {
    display: flex;
    align-items: center;
    gap: var(--gap-xxs);
}

.skeleton-autor-foto {
    background-color: var(--cor-padrao);
    height: 4rem;
    width: 4rem;
    border-radius: 32px;
}

.skeleton-autor-nome {
    background-color: var(--cor-padrao);
    height: 2rem;
    width: 4rem;
    border-radius: 32px;
}

.skeleton-card::after {
    will-change: transform;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.05), 
        transparent
    );
    animation: loading-shimmer 1.5s infinite;
}

@keyframes loading-shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}