
.header {
    padding: var(--padding-l) var(--padding-xl);
    padding-bottom: 0;
    display: none;
}

.header__conteiner {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.conteiner__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-l);
}

@media (max-width: 1200px) {

    .header {
        display: block;
    }
}

@media (max-width: 600px) {

    .header {
        padding: var(--padding-xl) var(--padding-xs);
        padding-bottom: 0;
    }

    .conteiner__links {
        flex-direction: column;
    }
}