.remover-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hint-parent {
    position: relative;
}

.text-hint-parent:hover > .text-hint {
    visibility: visible;
    opacity: 0.75;
    transition-delay: 0.5s;
}

.remover-icon:hover {
    color: var(--cor-destaque-negativo);
    cursor: pointer;
}

.text-hint {
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    white-space: nowrap;
    top: calc(100% + 6px);
    position: absolute;
    border-radius: 8px;
    padding: var(--padding-xxs);
    background-color: var(--cor-hint);
    text-align: center;
    font-size: var(--font-size-texto);
    color: var(--cor-titulo);
    transition-delay: 0s;
    transition: opacity 0.3s ease;
}

@media (max-width: 600px) {

    .text-hint-hover:hover > .text-hint {
        visibility: hidden;
    }
}